@page
@model SAMS_IPT102.Pages.ClearAttendanceLogsModel
@{
    ViewData["Title"] = "Clear Attendance Logs";
}

<div class="alert alert-success" role="alert">
    Attendance logs have been successfully cleared.
</div>
<script>
    setTimeout(function () {
        window.location.href = '/Index';  // Redirect to Index page after 3 seconds
    }, 3000);
</script>