@page
@model IndexModel
@{
    ViewData["Title"] = "Sign in first";
}

<section id="login-container" class="d-none d-md-flex align-items-center justify-content-center vh-100">
    <div class="login-wrapper">
        <div class="login-header">
            <h1 class="text-dark">Sign In</h1>
            <p class="text-muted">Enter your credentials.</p>
        </div>
        <form method="get">
            <div class="mb-2">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>
            <a href="" class="btn btn-light w-100">Sign Up</a>
        </form>
    </div>
</section>

<!-- show test user creds ^^ -->
<div class="principal-author">
    <a href="/Shared/Dashboard/Onboarding" class="btn btn-link">
        Redirect to Onboarding (Test)
    </a>
</div>